.container {
    max-width: 960px;
}
.login-form-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.registration-form-wrapper {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-container > div {
    margin: 5px;
    padding: 10px;
    width: 300px;
}

.product-grid .card .card-footer {
    background-color: inherit;
    border-top: none;
}
.add-to-cart-box {
    margin: 0 10px;
}
.cart-btn-width {
    width: 100%;
}
.add-to-cart-btn {
    /*display: none;*/
}
